<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moriz</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="./assets/fw-style.css">
    <link rel="stylesheet" href="./assets/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <link rel="icon" href="./assets/images/home/fav.svg" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body>


    <!-- header start -->
    <header class="header header-fixed">
        <div class="container-common-hdr">
            <div class=" header-area gl-py-20 gl-md-py-15">
                <div class="mobile-menu-trigger">
                    <span></span>




                </div>
                <div class="header-item item-left  logo-section pad-right-view">
                    <a href="index.html" class="logo gl-td-none">

                        <img class="logo-width-cmn" src="./assets/images/home/moriz-logo.svg">
                    </a>
                </div>
                <!-- menu start here -->

                <div class="gl-d-flex gl-fd-row gap-hdr">
                    <div class="header-item ">
                        <div class="menu-overlay"></div>
                        <nav class="menu">
                            <div class="mobile-menu-head">
                                <div class="go-back"><i class="fa fa-angle-left"></i></div>
                                <div class="current-menu-title"></div>
                                <div class="mobile-menu-close">&times;</div>
                            </div>
                            <ul class="menu-main mb-0-common">
                                <li>
                                    <a class="active_line nav_link_vy" href="index.html">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="">About Us </a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Products <i class="fa fa-angle-down menu-arrow_vy"></i></a>



                                    <!-- <div class="sub-menu mega-menu mega-menu-column-4 ">


                                        <div class="list-item">

                                            <div class="list-drp gap-40s  gl-md-pt-0">

                                                <div class="gl-po-rel gl-d-flex gl-fd-column ">
                                                    <a href="" class="listing">Moriz Aligner </a>
                                                    <a href="" class="listing">Moriz Orthodontics</a>
                                                    <a href="" class="listing">Moriz Burs & Files</a>
                                                    <a href="" class="listing">Moriz Handpeice</a>


                                                </div>

                                            </div>

                                        </div>

                                    </div> -->


                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                        <div class="list-item">

                                            <div class="list-drp">

                                                <!-- LEFT -->
                                                <div class="menu-links">
                                                    <a href="index.html" class="listing" data-img="./assets/images/home/hv-one.webp">Moriz Aligner</a>
                                                    <a href="about.html" class="listing" data-img="./assets/images/home/hv-two.webp">Moriz Orthodontics</a>
                                                    <a href="#" class="listing" data-img="./assets/images/home/hv-three.webp">Moriz Burs & Files</a>
                                                    <a href="#" class="listing" data-img="./assets/images/home/hv-four.webp">Moriz Handpiece</a>
                                                </div>

                                                <!-- RIGHT -->
                                                <div class="menu-images">
                                                    <img src="./assets/images/home/hv-one.webp" id="menuPreview">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="">Features </a>

                                </li>





                            </ul>
                        </nav>
                    </div>



                </div>


                <div class="header-item item-right gap-right">



                    <div class="country-list">
                        <div class="country-item active">INDIA</div>
                        <div class="divider"></div>
                        <div class="country-item">UAE</div>
                        <div class="divider"></div>
                        <div class="country-item">UK</div>
                    </div>

                    <div class="line-brk">|</div>
                    <a href="#" class=" gl-po-rel gl-d-flex gl-fd-row gl-align-center gl-gap-5 gl-td-none">
                        <img class="cont-img" src="./assets/images/home/contact.svg">
                        <a href="#" class="contct-hdr gl-td-none">Contact Us</a>
                    </a>



                </div>

            </div>
        </div>
    </header>



    <div id="smooth-wrapper">
        <div id="smooth-content">

            <!-- banner-slider---------------------------------------------- -->

            <div class="other_common_banner pad-top-140">

                <div class="container-common-product">

                    <!-- Breadcrumb -->
                    <div class="ocb_breadcrumb">
                        <a href="#">Home</a>
                        <span>/</span>
                        <a href="#">Products</a>
                        <span>/</span>
                        <a href="#">Moriz Aligners</a>
                        <span>/</span>
                        <a href="#" class="active"><span class="content_truncate-right-content">Moriz Aligners Model</span></a>
                    </div>





                    <div class="product_deteil_slide gl-pt-30 gl-xs-pt-10">
                        <div class="product_wrapper">

                            <!-- LEFT IMAGE SECTION -->
                            <div class="product_images">

                                <!-- MAIN IMAGE -->
                                <div class="main_image" id="zoomContainer">
                                    <img id="mainProductImage" src="./assets/images/product-detail/prd-one.webp" alt="">
                                </div>

                                <!-- THUMBNAILS -->
                                <div class="thumbnail_images">
                                    <img src="./assets/images/product-detail/prd-one.webp" class="product_thumb active">
                                    <img src="./assets/images/product-detail/prd-two.webp" class="product_thumb">
                                    <img src="./assets/images/product-detail/prd-one.webp" class="product_thumb">
                                    <img src="./assets/images/product-detail/prd-two.webp" class="product_thumb">
                                    <img src="./assets/images/product-detail/prd-two.webp" class="product_thumb">
                                </div>

                            </div>

                            <!-- RIGHT CONTENT -->
                            <div class="product_content">
                                <span class="tag">Handpiece</span>
                                <h2 class="main-head-prdct gl-pt-20">HANDPIECE EXTERNAL LOW-SPEED MODEL:L</h2>
                                <div class="ocb_breadcrumb">

                                    <a href="#">Products</a>
                                    <span>></span>
                                    <a href="#">Moriz Aligners</a>
                                    <span>></span>
                                    <a href="#" class="active"><span class="content_truncate-right-content">Moriz Aligners Model</span></a>
                                </div>

                                <p class="type ">Type : <span class="varient">Standard</span></p>

                                <h4 class="prd-info">Product information</h4>
                                <p class="desc">
                                    The A45 Dental Handpiece is a high-speed, precision-engineered instrument designed for advanced dental procedures.
                                </p>

                                <!-- QTY -->
                                <div class="feature-heads">Qty</div>
                                <div class="qty_box">
                                    <button class="minus">-</button>
                                    <input type="number" id="qtyInput" value="1" min="1">
                                    <button class="plus">+</button>
                                </div>

                                <!-- FEATURES -->

                                <div class="feature-heads gl-pb-10">Features</div>
                                <ul class="features">
                                    <li class="ftr-list">High torque precision motor</li>
                                    <li class="ftr-list">Low noise & vibration technology</li>
                                    <li class="ftr-list">Ergonomic lightweight design</li>
                                    <li class="ftr-list">Autoclavable body</li>
                                    <li class="ftr-list">Anti-retraction system</li>
                                </ul>

                                <!-- BUTTONS -->
                                <a href="#" class="btns open-wsp-popup gl-d-flex gl-fd-row gl-td-none gl-cursor-p">

                                    <img src="./assets/images/product-detail/wsps.svg" alt="">
                                    <div class="wsp-btns">Order On Whatsapp</div>

                                </a>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

            <div class="special_grids pt-90s">

                <div class="special_track" id="specialTrack">

                    <div class="special_item">
                        <img src="./assets/images/product-detail/genuine.svg" alt="">
                        <div class="special_text">
                            <div>100%</div>
                            <div>Genuine Products</div>
                        </div>
                    </div>

                    <div class="special_item">
                        <img src="./assets/images/product-detail/best-practice.svg" alt="">
                        <div class="special_text">
                            <div>Best</div>
                            <div>Price Assurance</div>
                        </div>
                    </div>

                    <div class="special_item">
                        <img src="./assets/images/product-detail/speed-dev.svg" alt="">
                        <div class="special_text">
                            <div>Fast Pan</div>
                            <div>India Delivery</div>
                        </div>
                    </div>

                    <div class="special_item">
                        <img src="./assets/images/product-detail/warrenty.svg" alt="">
                        <div class="special_text">
                            <div>Manufacturer</div>
                            <div>Warranty</div>
                        </div>
                    </div>

                    <div class="special_item">
                        <img src="./assets/images/product-detail/call-service.svg" alt="">
                        <div class="special_text">
                            <div>Dedicated</div>
                            <div>Support</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container-common-product pt-90s ">
                <div class="related_products">

                    <!-- Header -->
                    <div class="related_products-header">
                        <div class="related_products-title">Related Products</div>

                        <div class="related_products-arrows">
                            <button class="rp-prev">
               <img src="./assets/images/product-detail/line-arrow.svg">
            </button>

                            <button class="rp-next">
              <img src="./assets/images/product-detail/line-arrow-right.svg">
            </button>
                        </div>
                    </div>

                    <!-- Slider -->
                    <div class="related_products-slider gl-pb-70 brd-btm-new">
                        <div class="related_products-track">

                            <!-- Slides -->
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>
                            <div class="rp-slide">
                                <div class="rp-inner"><img src="./assets/images/product-detail/related-one.webp"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <section class="beyond_quality_area">
                <div class="container-common">

                    <div class="beyond_head">
                        <span class="tag">Products</span>
                        <h2>Clinical Quality<br>Consistent Results</h2>
                        <p>
                            We create products that support confident clinical work, delivering reliable performance across a wide range of treatments.
                        </p>
                    </div>

                    <div class="beyond_grid">

                        <!-- Item 1 -->
                        <div class="beyond_card">
                            <div class="beyond_img">
                                <img src="./assets/images/home/beyond-one.webp" alt="">
                            </div>
                            <div class="beyond_content">
                                <span>Moriz Aligner</span>
                                <div class="arrow">
                                    <svg width="18" height="18" viewBox="0 0 24 24">
                                        <path d="M5 12h14M13 5l7 7-7 7" stroke-width="2" fill="none" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="beyond_card">
                            <div class="beyond_img">
                                <img src="./assets/images/home/beyond-two.webp" alt="">
                            </div>
                            <div class="beyond_content">
                                <span>Moriz Orthodontics</span>
                                <div class="arrow">
                                    <svg width="18" height="18" viewBox="0 0 24 24">
                                        <path d="M5 12h14M13 5l7 7-7 7" stroke-width="2" fill="none" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="beyond_card">
                            <div class="beyond_img">
                                <img src="./assets/images/home/beyond-three.webp" alt="">
                            </div>
                            <div class="beyond_content">
                                <span>Moriz Burs & Files</span>
                                <div class="arrow">
                                    <svg width="18" height="18" viewBox="0 0 24 24">
                                        <path d="M5 12h14M13 5l7 7-7 7" stroke-width="2" fill="none" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="beyond_card">
                            <div class="beyond_img">
                                <img src="./assets/images/home/beyond-four.webp" alt="">
                            </div>
                            <div class="beyond_content">
                                <span>Moriz Handpiece</span>
                                <div class="arrow">
                                    <svg width="18" height="18" viewBox="0 0 24 24">
                                        <path d="M5 12h14M13 5l7 7-7 7" stroke-width="2" fill="none" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <div class="container-common ">
                <section class="customer-review-area gl-mt-35">


                    <div class="review-header">
                        <div class="review-left">
                            <div class="review-sub">CUSTOMER REVIEWS</div>
                            <div class="review-title">Real results from Real people</div>
                        </div>

                        <div class="review-nav">
                            <button class="nav-btn prev-btn">
                                <!-- LEFT SVG -->
                                <svg width="20" height="20" viewBox="0 0 24 24">
                                    <path d="M15 6l-6 6 6 6" fill="none" stroke="#1b6fa8" stroke-width="2" />
                                </svg>
                            </button>

                            <button class="nav-btn next-btn">
                                <!-- RIGHT SVG -->
                                <svg width="20" height="20" viewBox="0 0 24 24">
                                    <path d="M9 6l6 6-6 6" fill="none" stroke="#1b6fa8" stroke-width="2" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- SLIDER -->
                    <div class="review-slider">
                        <div class="review-track">

                            <!-- CARD -->
                            <div class="review-card">
                                <div class="quote-icon">
                                    <!-- SVG -->
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>

                                <div class="review-author">Dr. Arjun Menon</div>
                                <div class="review-role">Prosthodontist</div>
                                <div class="review-text">
                                    I’ve been using these dental resins for over a year now, particularly for crown and bridge work, and the consistency has been outstanding.
                                </div>

                            </div>

                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Dr. Neha Sharma</div>
                                <div class="review-role">Orthodontist</div>
                                <div class="review-text">
                                    As an orthodontist working with clear aligners and splints, I rely heavily on the quality of my printed models. These resins have delivered excellent durability and dimensional stability, even in high-volume production.
                                </div>

                            </div>

                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Rahul Nair</div>
                                <div class="review-role">Dental Lab Technician</div>
                                <div class="review-text">
                                    In our lab, we deal with a wide range of applications, from surgical guides to denture bases, and these resins have proven to be extremely versatile.
                                </div>

                            </div>

                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Dr. Priya Iyer</div>
                                <div class="review-role">Oral Surgeon</div>
                                <div class="review-text">
                                    I primarily use surgical guide resins, and the level of precision offered here is excellent. The guides fit perfectly, which is critical for implant procedures where accuracy is non-negotiable.
                                </div>

                            </div>
                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Dr. Priya Iyer</div>
                                <div class="review-role">Oral Surgeon</div>
                                <div class="review-text">
                                    I primarily use surgical guide resins, and the level of precision offered here is excellent. The guides fit perfectly, which is critical for implant procedures where accuracy is non-negotiable.
                                </div>

                            </div>
                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Dr. Priya Iyer</div>
                                <div class="review-role">Oral Surgeon</div>
                                <div class="review-text">
                                    I primarily use surgical guide resins, and the level of precision offered here is excellent. The guides fit perfectly, which is critical for implant procedures where accuracy is non-negotiable.
                                </div>

                            </div>
                            <div class="review-card">
                                <div class="quote-icon">
                                    <img src="./assets/images/home/exclamation.svg">
                                </div>
                                <div class="review-author">Dr. Priya Iyer</div>
                                <div class="review-role">Oral Surgeon</div>
                                <div class="review-text">
                                    I primarily use surgical guide resins, and the level of precision offered here is excellent. The guides fit perfectly, which is critical for implant procedures where accuracy is non-negotiable.
                                </div>

                            </div>

                        </div>
                    </div>


                </section>
            </div>
            <!-- customer-review-area------------------------ -->

            <!-- form-area--------------------- -->
            <div class="container-common">
                <section class="speak_form_area">


                    <div class="speak_form_inner">

                        <!-- LEFT SIDE -->
                        <div class="speak_left">

                            <div class="contact_tag">Contact Us</div>

                            <div class="speak_title">
                                Speak directly with our experts
                            </div>

                            <div class="speak_desc">
                                Send us your queries, and our team will respond promptly with detailed solutions and product information you can trust.
                            </div>

                            <!-- MAP -->
                            <div class="speak_map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.7199538073896!2d76.21599457583655!3d10.52270926382072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ef727f9a113b%3A0xe21b9605adf5e4f5!2smoriz%20meditech%20p%20ltd!5e0!3m2!1sen!2sin!4v1776850758252!5m2!1sen!2sin"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                            <!-- INFO -->
                            <div class="speak_info gl-pt-50 gl-xs-pt-20">

                                <div class="info_box">
                                    <div class="info_icon">
                                        <img src="./assets/images/home/mail.svg">
                                    </div>
                                    <div>
                                        <div class="info_label">EMAIL ID</div>
                                        <a href="mailto:moriza@dental.com" target="_blank" class="info_text gl-td-none">moriza@dental.com</a>
                                    </div>
                                </div>

                                <div class="info_box">
                                    <div class="info_icon">
                                        <img src="./assets/images/home/call.svg">
                                    </div>
                                    <div>
                                        <div class="info_label">PHONE NUMBER</div>
                                        <a href="tel:+919946574883" target="_blank" class="info_text gl-td-none">+91 9946574883</a>
                                    </div>
                                </div>

                                <div class="info_box">
                                    <div class="info_icon">
                                        <img src="./assets/images/home/locations.svg">
                                    </div>
                                    <div>
                                        <div class="info_label">ADDRESS</div>
                                        <div class="info_text">
                                            Palakkal angadi road, pallikkulam, thrissur, kerala 680001
                                        </div>
                                    </div>
                                </div>

                                <div class="info_box">
                                    <div class="info_icon">
                                        <img src="./assets/images/home/visit.svg">
                                    </div>
                                    <div>
                                        <div class="info_label">VISIT US</div>
                                        <div class="info_text">Monday - Friday<br>9AM - 5PM</div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- RIGHT FORM -->
                        <div class="speak_form_box gl-md-mt-40">
                            <form class="form_inner">

                                <div class="form_row">
                                    <div class="form_group">
                                        <label>First Name*</label>
                                        <input type="text">
                                    </div>

                                    <div class="form_group">
                                        <label>Last Name*</label>
                                        <input type="text">
                                    </div>
                                </div>

                                <div class="form_row">
                                    <div class="form_group">
                                        <label>Email Id*</label>
                                        <input type="email">
                                    </div>

                                    <div class="form_group">
                                        <label>Phone*</label>
                                        <input type="text">
                                    </div>
                                </div>

                                <div class="form_row full">
                                    <div class="form_group">
                                        <label>Message*</label>
                                        <textarea></textarea>
                                    </div>
                                </div>

                                <div class="form_btn_wrap">

                                    <button type="submit" class="submit_btn">
                                        Submit Message
                                    </button>

                                    <button type="button" class="arrow_btn">
                                        <svg class="arrow_icon" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 12H19" stroke="#2c6aa0" stroke-width="2"
                                                stroke-linecap="round" />
                                            <path d="M13 6L19 12L13 18" stroke="#2c6aa0" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>

                                </div>

                            </form>
                        </div>

                    </div>


                </section>

            </div>

            <div class="dwnld_catalogue">
                <a href="catalogue.pdf" download>
                    <span class="text">Download Catalogue</span>


                    <!-- Corner Borders -->
                    <span class="corner top-left"></span>
                    <span class="corner top-right"></span>
                    <span class="corner bottom-left"></span>
                    <span class="corner bottom-right"></span>
                </a>
            </div>

            <div class="line-area"></div>

            <!-- footer-section -->

            <div class="container-common ">
                <div class="ftr-section-moriz gl-mt-60">

                    <div class="ftr-container">



                        <!-- LEFT -->
                        <div class="ftr-col ftr-left">
                            <div class="ftr-inner">

                                <div class="ftr-block">
                                    <div class="ftr-title">Site Map</div>
                                    <ul>
                                        <li>Home</li>
                                        <li>About</li>
                                        <li>Products</li>
                                        <li>Features</li>
                                        <li>Contact Us</li>
                                    </ul>
                                </div>

                                <div class="ftr-block">
                                    <div class="ftr-title">Social</div>
                                    <ul>
                                        <li>Facebook</li>
                                        <li>Instagram</li>
                                        <li>Youtube</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!-- CENTER -->
                        <div class="ftr-col ftr-center tab-none">

                            <div class="ftr-image-wrap">

                                <!-- MAIN IMAGE -->
                                <img src="./assets/images/home/round-basll.svg" class="ftr-main-img">

                                <!-- SLIDER -->
                                <div class="ftr-overlay-slider">
                                    <div class="ftr-track" id="ftrTrack">

                                        <!-- ORIGINAL SET -->
                                        <img src="./assets/images/home/moriz-anim.svg">
                                        <img src="./assets/images/home/moriz-anim.svg">
                                        <img src="./assets/images/home/moriz-anim.svg">



                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- RIGHT -->
                        <div class="ftr-col ftr-right gl-pl-70 gl-lg-pl-10 gl-md-pl-10 gl-sm-pl-0">

                            <div class="ftr-desc">
                                Moriz Meditech is a leading distributor and manufacturer of orthodontic appliances & accessories and dental instruments.
                            </div>

                            <div class="ftr-update-title gl-pt-35">Get Updates</div>

                            <div class="ftr-note">
                                Your information is never disclosed to third parties
                            </div>

                            <div class="ftr-input-wrap">
                                <input type="text" placeholder="Enter Your Email">

                                <button class="ftr-btn-icon">
                                    <img src="./assets/images/home/tele-send.svg" alt="arrow">
                                </button>
                            </div>

                        </div>

                    </div>

                    <!-- COPYRIGHT -->
                    <div class="ftr-bottom gl-sm-pt-30">
                        Copyright © 2026 GL Infotech. All rights reserved.
                    </div>

                </div>

            </div>

        </div>
    </div>

    <button class="back-to-top" id="backToTop">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
            <path d="M12 19V5" stroke="white" stroke-width="2" stroke-linecap="round" />
            <path d="M5 12L12 5L19 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>

    <div class="whatsapp-float">
        <a href="https://wa.me/+918590070532" target="_blank">
            <img src="./assets/images/home/wsp-ico.svg" alt="WhatsApp" class="whatsapp-img">
        </a>
    </div>

    <!-- POPUP -->
    <div class="wsp-overlay-pop" id="wspPopup">

        <div class="wsp-overlay-pop-bg"></div>

        <div class="wsp-overlay-pop-box">

            <span class="wsp-overlay-pop-close">&times;</span>

            <h3 class="wsp-overlay-pop-title">
                <img src="./assets/images/product-detail/wsp-green.svg"> Request Quote Via Whatsapp
            </h3>

            <form id="wspForm">

                <input type="text" placeholder="Full Name">

                <input type="email" placeholder="Email Address*" required>

                <input type="tel" placeholder="Phone*" required>

                <textarea placeholder="Delivery Address*" required></textarea>

                <button type="submit">Request a quotation</button>

            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.registerPlugin(ScrollTrigger, ScrollSmoother)
            const smoother = ScrollSmoother.create({
                wrapper: "#smooth-wrapper",
                content: "#smooth-content",
                smooth: 1, // scroll smoothing speed
                effects: true // enables data-speed & data-lag
            });
        });
    </script>


    <script>
        const menu = document.querySelector(".menu");
        const menuMain = menu.querySelector(".menu-main");
        const goBack = menu.querySelector(".go-back");
        const menuTrigger = document.querySelector(".mobile-menu-trigger");
        const closeMenu = menu.querySelector(".mobile-menu-close");
        let subMenu;
        menuMain.addEventListener("click", (e) => {
            if (!menu.classList.contains("active")) {
                return;
            }
            if (e.target.closest(".menu-item-has-children")) {
                const hasChildren = e.target.closest(".menu-item-has-children");
                showSubMenu(hasChildren);
            }
        });
        goBack.addEventListener("click", () => {
            hideSubMenu();
        })
        menuTrigger.addEventListener("click", () => {
            toggleMenu();
        })
        closeMenu.addEventListener("click", () => {
            toggleMenu();
        })
        document.querySelector(".menu-overlay").addEventListener("click", () => {
            toggleMenu();
        })

        function toggleMenu() {
            menu.classList.toggle("active");
            document.querySelector(".menu-overlay").classList.toggle("active");
        }

        function showSubMenu(hasChildren) {
            subMenu = hasChildren.querySelector(".sub-menu");
            subMenu.classList.add("active");
            subMenu.style.animation = "slideLeft 0.5s ease forwards";
            const menuTitle = hasChildren.querySelector("i").parentNode.childNodes[0].textContent;
            menu.querySelector(".current-menu-title").innerHTML = menuTitle;
            menu.querySelector(".mobile-menu-head").classList.add("active");
        }

        function hideSubMenu() {
            subMenu.style.animation = "slideRight 0.5s ease forwards";
            setTimeout(() => {
                subMenu.classList.remove("active");
            }, 300);
            menu.querySelector(".current-menu-title").innerHTML = "";
            menu.querySelector(".mobile-menu-head").classList.remove("active");
        }

        window.onresize = function() {
            if (this.innerWidth > 991) {
                if (menu.classList.contains("active")) {
                    toggleMenu();
                }

            }
        }
    </script>

    <script>
        const header = document.querySelector('.header-fixed');
        const headerHeight = header.offsetHeight;

        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) {
                header.classList.add('is-fixed');
                document.body.style.paddingTop = headerHeight + 'px';
            } else {
                header.classList.remove('is-fixed');
                document.body.style.paddingTop = '0px';
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const animatedItems = document.querySelectorAll(".scroll-up-anim");

            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("is-visible");
                        } else {
                            // REMOVE class so animation works every time
                            entry.target.classList.remove("is-visible");
                        }
                    });
                }, {
                    threshold: 0.3 // 30% visible triggers animation
                }
            );

            animatedItems.forEach(item => observer.observe(item));
        });
    </script>

    <!-- banner-slider -->








    <script>
        const backToTop = document.getElementById("backToTop");

        // Show button after scrolling 300px
        window.addEventListener("scroll", () => {
            if (window.scrollY > 300) {
                backToTop.classList.add("show");
            } else {
                backToTop.classList.remove("show");
            }
        });

        // Smooth scroll to top
        backToTop.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const data = [{
                    img: "./assets/images/home/aligner.webp",
                    text: "Aligners",
                    number: "01"
                }, {
                    img: "./assets/images/home/orthodontics.webp",
                    text: "Orthodontics",
                    number: "02"
                },

                {
                    img: "./assets/images/home/burs.webp",
                    text: "Burs & Files",
                    number: "03"
                }, {
                    img: "./assets/images/home/handpiecee.webp",
                    text: "Handpeice",
                    number: "04"
                }
            ];

            let banrIndex = 0;

            const image = document.getElementById("banrImage");
            const text = document.getElementById("banrText");
            const number = document.getElementById("banrNumber");

            function updateBanner() {

                if (!image || !text || !number) {
                    console.error("Elements not found!");
                    return;
                }

                // Fade out
                image.style.opacity = "0";
                text.style.opacity = "0";
                number.style.opacity = "0";

                setTimeout(() => {
                    banrIndex = (banrIndex + 1) % data.length;

                    image.src = data[banrIndex].img;
                    text.innerText = data[banrIndex].text;
                    number.innerText = data[banrIndex].number;

                    // Fade in
                    image.style.opacity = "1";
                    text.style.opacity = "1";
                    number.style.opacity = "1";

                }, 400);
            }

            setInterval(updateBanner, 5000);

        });
    </script>



    <script>
        const items = document.querySelectorAll(".qstn_item");

        items.forEach((item) => {
            item.querySelector(".qstn_head").addEventListener("click", () => {

                // close all
                items.forEach(i => i.classList.remove("active"));

                // open clicked
                item.classList.add("active");
            });
        });
    </script>

    <script>
        const crSection = document.querySelector('.customer-review-area');
        const crTrack = crSection.querySelector('.review-track');
        const crNextBtn = crSection.querySelector('.next-btn');
        const crPrevBtn = crSection.querySelector('.prev-btn');

        let crIndex = 0;
        let autoSlideInterval;

        // 🔥 Responsive visible cards
        function getVisibleCards() {
            if (window.innerWidth <= 768) return 1.2;
            if (window.innerWidth <= 1200) return 2.5;
            return 3.5;
        }

        // 🔥 Card move width
        function getMoveValue() {
            const card = crSection.querySelector('.review-card');
            const gap = 25;
            return card.offsetWidth + gap;
        }

        // 🔥 Max index
        function getMaxIndex() {
            const total = crTrack.children.length;
            const visible = getVisibleCards();
            return Math.ceil(total - visible);
        }

        // 🔥 Update slide
        function updateSlider() {
            crTrack.style.transform = `translateX(-${crIndex * getMoveValue()}px)`;
        }

        // NEXT
        function nextSlide() {
            if (crIndex < getMaxIndex()) {
                crIndex++;
            } else {
                crIndex = 0; // 🔁 loop
            }
            updateSlider();
        }

        // PREV
        function prevSlide() {
            if (crIndex > 0) {
                crIndex--;
            } else {
                crIndex = getMaxIndex(); // loop reverse
            }
            updateSlider();
        }

        // BUTTON EVENTS
        crNextBtn.addEventListener('click', () => {
            nextSlide();
            resetAutoSlide();
        });

        crPrevBtn.addEventListener('click', () => {
            prevSlide();
            resetAutoSlide();
        });

        // 🔥 AUTO SLIDE START
        function startAutoSlide() {
            autoSlideInterval = setInterval(() => {
                nextSlide();
            }, 3000); // ⏱ change speed here
        }

        // 🔥 RESET AUTO SLIDE
        function resetAutoSlide() {
            clearInterval(autoSlideInterval);
            startAutoSlide();
        }

        // ⛔ Pause on hover
        crSection.addEventListener('mouseenter', () => {
            clearInterval(autoSlideInterval);
        });

        crSection.addEventListener('mouseleave', () => {
            startAutoSlide();
        });

        // 🔄 Reset on resize
        window.addEventListener('resize', () => {
            crIndex = 0;
            updateSlider();
        });

        // INIT
        startAutoSlide();
    </script>


    <script>
        const track = document.getElementById('ftrTrack');

        // Duplicate content dynamically
        track.innerHTML += track.innerHTML;

        let pos = 0;
        let speed = 0.9; // adjust speed here

        function animate() {
            pos -= speed;

            // when half scrolled, reset (no jump)
            if (Math.abs(pos) >= track.scrollWidth / 2) {
                pos = 0;
            }

            track.style.transform = `translateX(${pos}px)`;
            requestAnimationFrame(animate);
        }

        animate();
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const menuItemsList = document.querySelectorAll('.listing');
            const menuPreviewImg = document.getElementById('menuPreview');
            const menuImageBox = document.querySelector('.menu-images');

            // Hover image change
            menuItemsList.forEach(link => {
                link.addEventListener('mouseenter', () => {
                    const imgPath = link.getAttribute('data-img');

                    menuPreviewImg.style.opacity = 0;

                    setTimeout(() => {
                        menuPreviewImg.src = imgPath;
                        menuPreviewImg.style.opacity = 1;
                    }, 150);
                });
            });

            // 🔥 Responsive hide/show
            function handleMenuImage() {
                if (window.innerWidth <= 991) {
                    menuImageBox.style.display = "none";
                } else {
                    menuImageBox.style.display = "block";
                }
            }

            // Run on load
            handleMenuImage();

            // Run on resize
            window.addEventListener("resize", handleMenuImage);

        });
    </script>


    <script>
        const categoryItems = document.querySelectorAll('.product_cate_sidebar li');
        const products = document.querySelectorAll('.product_item');

        categoryItems.forEach(item => {
            item.addEventListener('click', () => {

                // Remove active
                categoryItems.forEach(li => li.classList.remove('active'));

                // Add active
                item.classList.add('active');

                const category = item.getAttribute('data-category');

                // Show/hide products
                products.forEach(product => {
                    if (product.classList.contains(category)) {
                        product.classList.remove('hidden');
                    } else {
                        product.classList.add('hidden');
                    }
                });

            });
        });
    </script>


    <script>
        // THUMBNAIL CLICK CHANGE IMAGE
        const thumbs = document.querySelectorAll(".product_thumb");
        const mainImg = document.getElementById("mainProductImage");

        thumbs.forEach(thumb => {
            thumb.addEventListener("click", function() {

                // Change image
                mainImg.src = this.src;

                // Active class
                thumbs.forEach(t => t.classList.remove("active"));
                this.classList.add("active");
            });
        });


        // 🔥 ZOOM EFFECT (FULL IMAGE MOVE)
        const zoomContainer = document.getElementById("zoomContainer");

        zoomContainer.addEventListener("mousemove", function(e) {
            const rect = zoomContainer.getBoundingClientRect();

            const x = (e.clientX - rect.left) / rect.width * 100;
            const y = (e.clientY - rect.top) / rect.height * 100;

            mainImg.style.transformOrigin = `${x}% ${y}%`;
            mainImg.style.transform = "scale(2)";
        });

        zoomContainer.addEventListener("mouseleave", function() {
            mainImg.style.transform = "scale(1)";
        });
    </script>

    <script>
        const qtyInput = document.getElementById("qtyInput");
        const plusBtn = document.querySelector(".plus");
        const minusBtn = document.querySelector(".minus");

        // 👉 CLEAR VALUE ON FIRST CLICK
        let isFirstClick = true;

        qtyInput.addEventListener("focus", function() {
            if (isFirstClick) {
                this.value = "";
                isFirstClick = false;
            }
        });

        // 👉 WHEN USER LEAVES EMPTY → RESET TO 1
        qtyInput.addEventListener("blur", function() {
            if (this.value === "" || parseInt(this.value) < 1) {
                this.value = 1;
            }
            isFirstClick = true;
        });

        // PLUS BUTTON
        plusBtn.addEventListener("click", () => {
            let value = parseInt(qtyInput.value) || 1;
            qtyInput.value = value + 1;
        });

        // MINUS BUTTON
        minusBtn.addEventListener("click", () => {
            let value = parseInt(qtyInput.value) || 1;
            if (value > 1) {
                qtyInput.value = value - 1;
            }
        });
    </script>


    <!-- whatsapp-popup------------- -->

    <script>
        // ELEMENTS
        const wspPopup = document.getElementById("wspPopup");
        const openBtn = document.querySelector(".open-wsp-popup");
        const closeBtn = document.querySelector(".wsp-overlay-pop-close");
        const overlay = document.querySelector(".wsp-overlay-pop-bg");

        // OPEN POPUP
        openBtn.addEventListener("click", (e) => {
            e.preventDefault();
            wspPopup.classList.add("active");
        });

        // CLOSE POPUP (X)
        closeBtn.addEventListener("click", () => {

            wspPopup.classList.remove("active");
        });

        // CLOSE POPUP (overlay)
        overlay.addEventListener("click", () => {
            wspPopup.classList.remove("active");
        });

        // SUBMIT → WHATSAPP
        document.getElementById("wspForm").addEventListener("submit", function(e) {
            e.preventDefault();

            const name = this[0].value;
            const email = this[1].value;
            const phone = this[2].value;
            const address = this[3].value;

            const message = `Hello,%0AName: ${name}%0AEmail: ${email}%0APhone: ${phone}%0AAddress: ${address}`;

            const whatsappURL = `https://wa.me/91xxxxxxxx?text=${message}`;

            window.open(whatsappURL, "_blank");
        });
    </script>


    <!-- related-product-slider -->

    <script>
        const rpContainer = document.querySelector('.related_products');
        const rpWrapper = document.querySelector('.related_products-track');
        const rpSlides = document.querySelectorAll('.rp-slide');
        const rpNext = document.querySelector('.rp-next');
        const rpPrev = document.querySelector('.rp-prev');

        let rpIndex = 0;

        /* Visible slides */
        function rpVisibleSlides() {
            if (window.innerWidth <= 575) return 2;
            if (window.innerWidth <= 991) return 3;
            return 4;
        }

        /* Update slider */
        function rpUpdateSlider() {
            const slide = rpSlides[0];
            const style = window.getComputedStyle(rpWrapper);
            const gap = parseInt(style.gap || 0);

            const slideWidth = slide.getBoundingClientRect().width + gap;

            rpWrapper.style.transform = `translateX(-${rpIndex * slideWidth}px)`;
        }

        /* Next */
        rpNext.addEventListener('click', () => {
            if (rpIndex < rpSlides.length - rpVisibleSlides()) {
                rpIndex++;
            } else {
                rpIndex = 0;
            }
            rpUpdateSlider();
        });

        /* Prev */
        rpPrev.addEventListener('click', () => {
            if (rpIndex > 0) {
                rpIndex--;
            } else {
                rpIndex = rpSlides.length - rpVisibleSlides();
            }
            rpUpdateSlider();
        });

        /* Auto Slide */
        let rpAuto = setInterval(() => {
            rpNext.click();
        }, 3000);

        /* Pause on hover */
        rpContainer.addEventListener('mouseenter', () => {
            clearInterval(rpAuto);
        });

        rpContainer.addEventListener('mouseleave', () => {
            rpAuto = setInterval(() => {
                rpNext.click();
            }, 3000);
        });

        /* Resize fix */
        window.addEventListener('resize', () => {
            rpIndex = 0;
            rpUpdateSlider();
        });

        /* Init */
        rpUpdateSlider();
    </script>


    <script>
        const specialSliderTrack = document.getElementById("specialTrack");

        if (specialSliderTrack && window.innerWidth <= 750) {

            const sliderItems = Array.from(specialSliderTrack.children);

            // Clone items for infinite loop
            sliderItems.forEach(item => {
                const clone = item.cloneNode(true);
                specialSliderTrack.appendChild(clone);
            });

            let position = 0;
            const speed = 0.5;

            function animateSlider() {
                position -= speed;

                if (Math.abs(position) >= specialSliderTrack.scrollWidth / 2) {
                    position = 0;
                }

                specialSliderTrack.style.transform = `translateX(${position}px)`;

                requestAnimationFrame(animateSlider);
            }

            animateSlider();
        }
    </script>

</body>

</html>